.App {
  width: 32em;
  height: 40em;
  position: relative;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-top: 2em;
  background: white;
  width: 30em;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.4);
  font-family: verdana;
  user-select: none;
}

.App h1 {
  margin: 0;
  margin-right: -1px;
  padding: 60px;
  background-size: 100%;
  color: #000;
  font-size: 24px;
}

.listScrollBox {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 250px);
}
