.App {
  width: 32em;
  position: relative;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin: 3em;
  background: white;
  min-width: 28em;
  min-height: 20em;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.4);
  font-family: verdana;
}

.App h1 {
  margin: 0;
  margin-right: -1px;
  padding: 60px;
  background-size: 100%;
  color: #000;
  font-size: 24px;
}
