.UserDialog-Wrapper {
  /*全屏*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*内容居中*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserDialog {
  border: 1px solid;
  border-radius: 4px;
  min-width: 20em;
  background: white;
  border: 1px solid #aaa;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.35);
}

.UserDialog > nav label {
  float: right;
  margin-right: 2em;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: #aaa;
}

.UserDialog input {
  display: none;
}

.UserDialog > .panes {
  padding: 0 1em 1em;
}

.UserDialog form > .row {
  display: flex;
  padding: 0.3em 0;
}

.UserDialog .row label {
  margin-bottom: 0.5em;
}

.UserDialog .row input {
  margin-top: 0.5em;
  display: block;
}

.UserDialog .actions button {
  display: inline-block;
  height: 24px;
  width: 60px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}

.UserDialog .actions button:hover {
  background-color: #bbb;
}

.UserDialog .dialog-header {
  margin: 20px 0 30px 14px;
}
